#banner {
  background-image: linear-gradient(25deg, #6366f1 30%, #ec4899 100%);
  margin-left: -20px;
  margin-top: -40px;
  margin-right: -7px;
  margin-bottom: 50px;
}
html{ /*effects the bookmarks scroll */
  scroll-behavior: smooth;  
}
.banner-bookmarks {
  display: inline-flex;
  margin-left: 470px;
 }

.bookmark-spacing {
  margin-left: 40px;
}

a:hover {
  color: rgb(222, 239, 37);
  transition: color 0.5s;
}

h1 {
  color: #f4a508;
  text-align: center;
  font-size: 50px;
  background-color: linear-gradient(#ec4899 100%, #6366f1 0%, 135deg);
}
#logo {
  display: block;
  /*margin: 20px auto;*/
  width: 130px;
  height: 130px;
  margin-top: -100px;
  margin-left: 940px;
  margin-bottom: 0px;
}
p {
  width: 1150px;
  margin: 0 auto;
  position: relative;
  font-size: 25px;
}
#font-indented {
  /* the bio of the company */
  font-size: 32px;
  color: black;
  text-indent: 50px;
}
.heading2 {
  /* for the menu, arcade games and booking headings */
  color: cadetblue;
  font-size: 32px;
  text-align: center;
}
a {
  display: block;
  color: rgb(246, 241, 240);
  font-size: 30px;
}
img {
  height: 400px;
  width: 600px;
}
.food-info {
  /*this is the caption for the food images */
  color: #f1edee;
  font-size: 25px;
}
.pic-scroll {
  background-color: rgb(235, 204, 249);
  overflow: auto;
  white-space: nowrap;
  padding: 35px;
  display: flex;
}
.arcade-text-right {
  text-align: right;
  bottom: -185px;
  font-size: 20px;
  left: 25px;
}
.arcade-color {
  background-color: rgb(221, 100, 100);
  padding-bottom: 50px;
}
.arcade-text-left {
  text-align: left;
  bottom: -195px;
  right: 150px;
  font-size: 20px;
}
.arcade-game {
  margin-left: 898px;
}
